*{
    margin: 0;
    padding: 0;
}
body{
background: url(./Images01/Malak.png);
background-repeat: no-repeat;
background-size: cover;
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #317773;
    color: #fff;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
    border-radius: 25px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width:100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #a395ed;
}
.btn{
    display: inline-block;
    background: #930ed6ea;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 7px;
    text-decoration: none;
    transition: background 0.5s;
}
span {
  content: "\2192";
}
.btn:hover{
    background: #914cbdea;
    
}
.contact-left h3{
    color: #a395ed;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    color: #a395ed;
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
   padding-right: 20px;
}
tr td{
    padding-top: 20px;
}