*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding:20px ;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px ;
    justify-content: space-between;
    transition: color 0.5s;
}
nav ul li:hover{
    color: #fffcfc;
}
a{
    text-decoration: none;
    color: #fffafa;
}
p{
    color: #ffffff;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 15px;

    padding-right: 25px;
}

.btn{
    display: inline-block;
    background: #e78712ea;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
span {
  content: "\2192";
}
.btn:hover{
    background: #ffba27ea;
    
}
.products-1{
    display: flex;
    align-items: center;
    padding-left: 17.5%;

}

.p1:hover img{
    transform: scale(.95);
    outline: 1px solid rgb(56, 37, 37);
    outline-offset:;
}

.products-1 .p1{
    
    text-align: center;
    justify-items: center;
    justify-content: space-around;
    display: inline-block;
    padding: 20px;
}
.products-2{
    display: flex;
    align-items: center;
    padding-left: 17.5%;

}
.products-2 .p1{
    text-align: center;
    justify-items: center;
    justify-content: space-around;
    display: inline-block;
    padding: 20px;
}
